<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{{ .hanzi }}
{{ range $key, $value := .hanziPinyins }}
     {{ $key }}
     {{ $value}}
     <br>
{{end}}

</body>
</html>