<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{{ range $index, $article :=  .articles }}
    <p>index: </p> {{ $index }}:
    <p>title: </p> {{ $article.Title }}
    <p>content: </p> {{ $article.Content }}
    <p>id: </p> {{ $article.Model.ID }}
{{ end }}
</body>
</html>