<div class="container" id="body-content">
    <div class="row">
        <div class="col-8" id="article-content-column">
            <div id="article-text">
                <p id="text">
                    最近，有个热搜也很应这个景，话题词是“本科毕业月平均起薪5825元”。数据来源是北京大学的全国高校毕业生就业状况调查，该课题组于2021年6月起对高校毕业生进行了问卷调查。样本包括我国东、中、西部地区19个省份的34所高校，样本量超过2万人。
                    结果显示，2021年博士、硕士、本科、专科的月起薪算术平均值分别为14823元、10113元、5825元、3910元；学工学、理学和交叉学科的薪资位居前三，分别为8341元、7909元和7838元。总结一下就是，要想毕业多赚钱，学理强过学文，博士强过本科，名校强过普校。
                    单从结论看，这份毕业生“钱途”指南符合大众认知。问题出在钱上，为了本科毕业生到底能不能赚到五千多元，微博网友吵翻了天。这也让我想起另一份调查：00后大学生对职场薪资比较乐观，超过两成人预期毕业月薪过万，还有六成多大学生评估毕业十年内后年入百万。</p>
            </div>
        </div>
        <div class="col-4" id="content-lookups-column">
            <div id="lookup-text">
                <p id="lookup-item">content lookups</p>
            </div>
        </div>
    </div>
</div>